<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="conexao" connectionString="Server=localhost;Port=3306;Uid=root;Database=imobiliariadb; Pwd=123456"/>
	</connectionStrings>
	<appSettings>
		<add key="PastaBackup" value="c:\temp\"/>		
	</appSettings>
</configuration>