################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodeBehind.Mysql/CodeBehind.MySQL/obj
/CodeBehind.Mysql/CodeBehind.MySQL/bin/Debug/netcoreapp3.1
/CodeBehind.Mysql/.vs/CodeBehind.MYSQL
/CodeBehind/.vs/CodeBehind.MYSQL
/CodeBehind/CodeBehind.MySQL/bin/Debug/netcoreapp3.1
/CodeBehind/CodeBehind.MySQL/obj
