################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodeBehind.Mysql/CodeBehind.MySQL/obj
/CodeBehind.Mysql/CodeBehind.MySQL/bin/Debug/netcoreapp3.1
/CodeBehind.Mysql/.vs/CodeBehind.MYSQL
/CodeBehind/.vs/CodeBehind.MYSQL
/CodeBehind/CodeBehind.MySQL/bin/Debug/netcoreapp3.1
/CodeBehind/CodeBehind.MySQL/obj
/CodeBehind/.vs/Youtube
/CodeBehind/CodeBehind.Redis/obj
/CodeBehind/CodeBehind.Redis/bin/Debug/netcoreapp3.1
/CodeBehind/CodeBehind.Sqlite/obj
/CodeBehind/CodeBehind.Sqlite/bin/Debug/netcoreapp3.1
/CodeBehind/CodeBehind.PostGreSQL/bin/Debug/netcoreapp3.1
/CodeBehind/CodeBehind.PostGreSQL/obj
/CodeBehind/CodeBehind.SqlServer/obj
/CodeBehind/CodeBehind.SqlServer/bin/Debug/netcoreapp3.1
/CodeBehind/CodeBehind.Maria/obj
/CodeBehind/CodeBehind.Maria/bin/Debug/netcoreapp3.1
/CodeBehind/CodeBehind.Firebird/obj
/CodeBehind/CodeBehind.Firebird/bin/Debug/netcoreapp3.1
/CodeBehind/CodeBehind.ElasticSearch/obj
/CodeBehind/CodeBehind.ElasticSearch/bin/Debug/netcoreapp3.1
/CodeBehind/CodeBehind.Mongo/bin/Debug/netcoreapp3.1
/CodeBehind/CodeBehind.Mongo/obj
/CodeBehind/CodeBehind.GraphQL.Demo/bin/Debug/netcoreapp3.1
/CodeBehind/CodeBehind.GraphQL.Demo/obj
/CodeBehind/CodeBehind.GraphQueryLanguage.Demo/bin/Debug/netcoreapp3.1
/CodeBehind/CodeBehind.GraphQueryLanguage.Demo/obj
/CodeBehind/CodeBehind.GraphQueryLanguage.Demo.Console/bin/Debug/netcoreapp3.1
/CodeBehind/CodeBehind.GraphQueryLanguage.Demo.Console/obj
/CodeBehind/CodeBehind.OData.Demo/bin/Debug/netcoreapp3.1
/CodeBehind/CodeBehind.OData.Demo/obj
/CodeBehind/CodeBehind.CosmoDB/obj
/CodeBehind/CodeBehind.CosmoDB/bin/Debug/netcoreapp3.1
