################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodeBehind.Mysql/CodeBehind.MySQL/obj
/CodeBehind.Mysql/CodeBehind.MySQL/bin/Debug/netcoreapp3.1
/CodeBehind.Mysql/.vs/CodeBehind.MYSQL
/CodeBehind/.vs/CodeBehind.MYSQL
/CodeBehind/CodeBehind.MySQL/bin/Debug/netcoreapp3.1
/CodeBehind/CodeBehind.MySQL/obj
/CodeBehind/.vs/Youtube
/CodeBehind/CodeBehind.Redis/obj
/CodeBehind/CodeBehind.Redis/bin/Debug/netcoreapp3.1
/CodeBehind/CodeBehind.Sqlite/obj
/CodeBehind/CodeBehind.Sqlite/bin/Debug/netcoreapp3.1
/CodeBehind/CodeBehind.PostGreSQL/bin/Debug/netcoreapp3.1
/CodeBehind/CodeBehind.PostGreSQL/obj
