<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PastaBackup" value="c:\temp\"/>

		<add key="Server" value="localhost"/>
		<add key="Database" value="gestordb"/>
		<add key="Port" value="5432"/>
		<add key="UserId" value="postgres"/>
		<add key="Password" value="123456"/>
		<add key="PastaDump" value="C:\Program Files\PostgreSQL\15\bin\pg_dump.exe"/>
	</appSettings>
</configuration>