<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Porta" value="3050"/>
		<add key="CaminhoBanco" value="C:\\temp\\BANCO.IB"/>
		<add key="DataSource" value="localhost"/>
		<add key="Senha" value="masterkey"/>
		<add key="Usuario" value="SYSDBA"/>
	</appSettings>
</configuration>